body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .lineUp, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.blinky {
  height: 50px;
}
.bouncy {
  border:25px solid blue;
  border-radius:25px;
  background-color: green;
}

.explode {
  border:50px solid rgb(4, 235, 4);
  border-radius:25px;
  background-color: green;
}
